# Downloading ERA5 weather reanalysis data
Please follow the instructions in the following document. You will need to create an account and copy your API key information.
>https://cds.climate.copernicus.eu/api-how-to

In [1]:

def download_era5(site,year):
    import cdsapi

    filename = 'download_' + site + '_'+ year[0] + '_'+ year[len(year)-1] + '.nc'
    sub_df = ECN_site_info.loc[ECN_site_info['sitecode'] == site]
    c = cdsapi.Client()
    c.retrieve(
        'reanalysis-era5-single-levels',
        {
            'product_type': 'reanalysis',
            'year': year,
#             [ '1990',
#                 '1991', '1992', '1993',
#                 '1994', '1995', '1996',
#                 '1997', '1998', '1999',
#                 '2000', '2001', '2002',
#                 '2003', '2004', '2005',
#                 '2006', '2007', '2008',
#                 '2009', '2010', '2011',
#                 '2012', '2013', '2014',
#                 '2015', '2016', '2017',
#                  '2018', '2019', ],
            'time': [
            '00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00',
        ],
            'format': 'netcdf',
            'area': [
                sub_df['lat'].values[0], 
                sub_df['long'].values[0], 
                sub_df['lat'].values[0] - 1e-5, 
                sub_df['long'].values[0] + 1e-5,
            ],
            'variable': [
                'convective_precipitation', 'large_scale_precipitation','total_precipitation','large_scale_precipitation_fraction',
            ],
        },
        filename)

#     dataset = Dataset(filename)
#     print(dataset)
    
    return

In [ ]:
import pandas as pd
ECN_site_info = pd.DataFrame(data= {"sitecode":['T{:02d}'.format(i) for i in range(1, 14)],
    "name": ["Drayton","Glensaugh","Hillsborough","Moor House - Upper Teesdale",
           "North Wyke","Rothamsted","Sourhope","Wytham",
           "Alice Holt","Porton Down","Y Wyddfa - Snowdon","Cairngorms","Eskelmuir"],
"lat": [52.193875,56.9092667,54.4534,54.6950416666,
          50.781933335,51.803425,55.4898527778,51.781349999999996,
          51.15457222,51.127175,53.07455,57.11634444,55.2678], 
"long": [-1.764430555,-2.55337222,-6.0781277778,-2.38785,
           -3.91780555553,-0.372683333,-2.2120333,-1.3360583333333333,
           -0.86321666,-1.63985,-4.03351111,-3.82971667,-3.1757]})
ECN_site_info

In [2]:
## download data at sites

In [ ]:
for i in range(2007, 2012):
    download_era5('T13',['{}'.format(i) for j in range(i, i+1)])

In [ ]:
## download data over a area